@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Thin-Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Medium-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Bold-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Black-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-ExtraBold-Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Super.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Objective;
  src: url("fonts/Objective-Super-Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
